<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>Title</title>
    <title>{% block title %}猎场-模板{% endblock %}</title>

    {% block custom_css %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">

    {% block custom_js %}{% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <style type="text/css">
        .modal-dialog {
            margin: 200px auto;
        }

        .icon-weibo:before {
            content: "\e63c"
        }

        .pop-login-sns {
            text-align: center;
            font-size: 14px;
        }

        .pop-sns-weibo {

        }

        @font-face {
            font-family: icomoon;
            src: url(/static/fonts/icomoon.eot?d8493nx);
        }

        [class*=" icon-"], [class^=icon-] {
            font-family: icomoon !important;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    </style>
</head>
<body>
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">猎场-演示版本</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">首页</a></li>
                        <li><a href="#about">职位搜索</a></li>
                        <li><a href="#contact">猎场咨询</a></li>
                        <li><a href="#contact">简历中心</a></li>
                        <li class="其他">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">其他 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">关于</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-sm">
                        <li><a href="">下载APP</a></li>
                        <li>
                            <a href="" data-toggle="modal" data-target="#login-modal">登录</a>
                        </li>
                        <li><a href="">/</a></li>
                        <li><a href="">注册</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>

<div class="modal fade" tabindex="-1" id="login-modal" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">登录</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-md-7 col-md-offset-2">
                            <input type="text" class="form-control" id="txtUsername" name="username"
                                   placeholder="请输入登录邮箱/手机号">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-7 col-md-offset-2">
                            <input type="password" class="form-control" id="txtPassword"
                                   placeholder="6-16位密码，区分大小写，不能用空格">
                        </div>
                    </div>

                    <div class="row ">
                        <div class="checkbox col-md-3 col-md-offset-2">
                            <label>
                                <input type="checkbox"> 7天内自动登录
                            </label>
                        </div>
                        <div class="col-md-offset-2 col-md-2">
                            <a href="" style="margin-top: 10px;display: inline-block">忘记密码</a>
                        </div>
                    </div>

                    <div class="col-md-7 col-md-offset-2">
                        <button type="submit" class="btn btn-default btn-danger btn-block">登录</button>
                    </div>
                    {% comment %}<div class="row">
                        <div class="col-md-7 col-md-offset-2 pop-login-sns">
                            <span style="color:#666">其他方式登录</span>
                            <a href="">
                                <i class="icon-qq"></i>
                            </a>
                        </div>
                    </div>{% endcomment %}
                </form>

                <div class="row" style="margin-bottom: 15px">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>