{% extends 'base.html' %}
{% block title %}猎场-用户注册{% endblock %}
{% load staticfiles %}
{% block custom_css %}
    <style type="text/css">
        .bg-box {
            position: relative;
            text-align: center;
            background-color: #27ae60;
            color: #fff;
            margin-bottom: 0;
        }

        .bg-box2 {
            background: url({% static 'images/招聘2.jpg' %}) repeat-x center center;
            height: 850px;
        }

        .captcha1 > input {
            display: inline;
            float: left;
            margin-left: 15px;
            width: 310px;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .captcha1 > img {
            display: inline;
            cursor: pointer;
            border: 1px solid #ccc;
            border-radius: 4px;
            height: 34px;

        }

        .register-header {
            padding-bottom: 9px;
            margin: 80px 0 20px;

        }

    .errorput,
   .errorput input {
    border-color: #f00;
    box-shadow: 0 0 5px #aa0b0b;
}
    </style>
{% endblock %}

{% block content %}

    <div class="container-fluid bg-box2">
        <div class="row" >
            <div class="col-md-12" style="top: 80px">
                <div class="register-header col-md-offset-4">
                    <h1>用户注册
                        <small>在猎场中放飞自我....</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-12">
                <form class="form-horizontal" style="margin-top: 80px" method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="txtUserName" class="col-md-offset-2 col-md-2 control-label">用户名</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="txtUserName" name="username"
                                   value="{{ register_form.username.value }}" placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtEmail" class="col-md-offset-2 col-md-2 control-label">邮箱</label>
                        <div class="col-md-4">
                            <input type="email" class="form-control" id="txtEmail" name="email"
                                   value="{{ register_form.email.value }}" placeholder="请输入注册邮箱">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtPassword1" class="col-md-offset-2 col-md-2 control-label">密码</label>
                        <div class="col-md-4">
                            <input type="password" class="form-control" id="txtPassword1" name="password1"
                                   value="{{ register_form.password1.value }}" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtPassword2" class="col-md-offset-2 col-md-2 control-label">确认密码</label>
                        <div class="col-md-4">
                            <input type="password" class="form-control" id="txtPassword2" name="password2"
                                   value="{{ register_form.password2.value }}" placeholder="请输入确认密码">
                        </div>
                    </div>
                    <div class="form-group captcha1">
                        <label for="txtPassword2" class="col-md-offset-2 col-md-2 control-label">验证码</label>
                        {{ register_form.captcha }}
                    </div>
                    <div class="col-md-offset-4 col-md-4">
                            {% for key,error in register_form.errors.items %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {{ msg }}
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-4">
                            <button type="submit" class="btn btn-default btn-success btn-block">注册并登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

