{% extends 'base.html' %}
{% block title %}猎场-用户注册{% endblock %}
{% load staticfiles %}
{% block custom_css %}
    <style type="text/css">
        .bg-box {
            position: relative;
            text-align: center;
            background-color: #27ae60;
            color: #fff;
            margin-bottom: 0;
        }
    .bg-box2 {
            background: url({% static 'images/招聘3.jpg' %}) repeat-x center center;
        }
    .captcha1 > input{
          display: block;
    width: 350px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.captcha1 > img{
    display: block;
}
    </style>
{% endblock %}

{% block content %}

    <div class="container-fluid">
    <div  class="row">
        <div class="bg-box2 col-md-12" style="top: 50px">
            <form class="form-horizontal" style="margin-top: 150px">
                <div class="form-group">
                    <label for="txtEmail" class="col-md-offset-2 col-md-2 control-label">邮箱</label>
                    <div class="col-md-4">
                        <input type="email" class="form-control" id="txtEmail" placeholder="请输入注册邮箱">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtPassword1" class="col-md-offset-2 col-md-2 control-label">密码</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" id="txtPassword1" placeholder="请输入密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtPassword2" class="col-md-offset-2 col-md-2 control-label">确认密码</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" id="txtPassword2" placeholder="请输入确认密码">
                    </div>
                </div>
                <div class="form-group captcha1 ">
                    <label for="txtPassword2" class="col-md-offset-2 col-md-2 control-label">验证码</label>
                    {{ register_form.captcha }}
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

{% endblock %}

